[submodule "circuits/circomlib"]
	path = circuits/circomlib
	url = https://github.com/iden3/circomlib.git
[submodule "stealth-wallet/lib/forge-std"]
	path = stealth-wallet/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "stealth-wallet/lib/openzeppelin-contracts"]
	path = stealth-wallet/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
