# latex
*.aux
_minted-main
*.bbl
*.run.xml
*.synctex.gz
*-blx.bib
indent.log
*.fls
*.lof
*.log
*.out
*.toc
*.blg
*.fdb_latexmk

circuits/build
stealth-wallet/cache
stealth-wallet/out
stealth-wallet-app/.env
stealth-wallet/.env
stealth-wallet/broadcast/DeployContracts.s.sol/31337
docs/iitsrc-poster/a0header.ps
