*.aux
_minted-main
main.bbl
main.run.xml
main.synctex.gz
main-blx.bib
indent.log
main.fls
main.lof
main.log
main.out
main.toc
main.blg
main.fdb_latexmk
circuits/build
stealth-wallet/cache
stealth-wallet/out
stealth-wallet-app/.env
stealth-wallet/.env
